/*=========== reset all==========*/
*{
  margin: 0;
  padding: 0;
}


/*======= header==============*/
header{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
}

.header-top{
  background-color:#F2B705;
}
.header-top-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
}

.header-top-container a{
  font-family: 'Roboto Mono', monospace;
  font-size: 0.87em;
  color: #FFFFFF;
  text-decoration:none ;
  padding: 5px;
}

.menu{
  background-color: #403E39;
}
.menu-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
 .menu-container-left-side{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}
.menu-container .menu-container-left-side > a{
  color:#FFFFFF;
  text-decoration: none;
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
}
.menu-container .check-btn{
  display: inline-block;
  font-size:1.5em;
  color:#fff;
  display: none;
}

#check{
  display: none;
}
.menu-container .menu-container-left-side> a span{
  color:#F24405;
}

.menu-container nav{
  display: flex;
  flex-wrap: wrap;
}
.menu-container nav ul{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  
}

.menu-container nav ul li ul{
  position: absolute;
  background-color: #403E39;
  display: none;
  flex-direction: column;
  z-index: 999;
  
}
.menu-container nav ul a{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size:1.125em;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  letter-spacing: .5px;
}
.menu-container nav ul li:hover{
  background-color: #F24405;
}

.menu-container nav ul li:hover ul{
  display: flex;
}


/*============ SEÇÃO INTRODUÇÃO =============*/

.introducao-slide{
  position: relative;
}
.introducao-slide img{
  display: block;
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.introducao-conteudo{
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding:90px 0 ;

}
.introducao-conteudo h1{
  text-align: center;
  color:#fff;
  font-family: 'PT Serif', serif;
  font-size: 3.75em;
  letter-spacing: 2px;
  line-height: 1;
  
}
.introducao-conteudo p{
  font-family: 'Roboto Mono', monospace;
  font-size: 1.125em;
  color:#fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  max-width: 709px;
  line-height: 1.5;
}
.introducao-conteudo a{
  display: inline-block;
  font-family: 'PT Serif', serif;
  color:#fff;
  background: #F24405;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  margin-top: 30px;

}

/*===================SERVICO================*/
.servico{
  display: flex;
  flex-direction: column;
}

.servico h1{
  text-align: center;
  color:#403E39;
  font-family: 'PT Serif', serif;
  font-size: 1.875em;
  letter-spacing: 2px;
  line-height: 1;
  padding: 60px 0;
}

.servico-conteudo{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.servico-conteudo-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin-bottom: 20px;
}

.servico-conteudo-item-div-esquerdo{
  flex-basis: 470px;
}
.servico-conteudo-item-div-esquerdo img{
  display: block;
  width: 100%;
  height: 100%;
}
.servico-conteudo-item-div-direito{
  flex-basis: 470px;
  padding: 60px 0;
}
.servico-conteudo-item-div-direito h2{
  font-family: 'PT Serif', serif;
  font-size: 1.12em;
  letter-spacing: 2px;
  line-height: 1;
  color: #403E39;
}
.servico-conteudo-item-div-direito p{
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
  margin-bottom: 30px;
  color: #403E39;
}
.servico-conteudo-item-div-direito a{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size:1.125em;
  color: #403E39;
  text-decoration: none;
  padding: 15px 27px;
  letter-spacing: .5px;
  border: 2px solid #F24405;
}
.servico-conteudo-item-bottom{
  text-align: center;
}
.servico-conteudo-item-bottom > p{
  padding: 20px 0px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
}
.servico-conteudo-item-bottom  > a{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size:1.125em;
  color: #fff;
  text-decoration: none;
  padding: 15px 27px;
  letter-spacing: .5px;
  background-color:  #F24405;
}


/*===================ULTIMOS SERVICO================*/
.ultimos-servicos{
  display: flex;
  flex-direction: column;
  background-color:#403E39;
  margin-top: 60px;
}
.ultimos-servicos h1{
  text-align: center;
  padding:60px  0;
  color:#E4E4E4;
  font-family: 'PT Serif', serif;
  font-size: 1.875em;
  letter-spacing: 2px;
  line-height: 1;
  
}
.ultimos-servicos-item-1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;

}
.ultimos-servicos-slide{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:center; 

}
.ultimos-servicos-slide > div{
  flex:1;
  display: flex;
}
.ultimos-servicos-slide > div img{
  display: block;
  width: 100%;
}
.ultimos-servicos-slide-margin{
  margin-left: 20px;
  margin-right: 20px;
}

.ultimos-servicos-item-2{
  text-align: center;
  padding: 40px 0;
}
.ultimos-servicos-item-2 span{
  display: inline-block;
  height: 28px;
  width: 28px;
  background-color: #5E5D59;
  border-radius: 50%;
  margin:0 10px;
  cursor: pointer;
}
.active-sapn{
  background-color: #F29F05 !important;
}

.ultimos-servicos-item-3{
  text-align: center;

}

.ultimos-servicos-item-3 p{
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
  color:#E4E4E4;
  margin-bottom: 40px;
}

.ultimos-servicos-item-3 a{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    font-size: 1.125em;
    color: #fff;
    text-decoration: none;
    padding: 15px 27px;
    letter-spacing: .5px;
    background-color: #F24405;
    margin-bottom: 60px;
}
/*=================== DEPOIMENTOS ================*/
.depoimento{
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

}

.depoimento h1{
  text-align: center;
  color:#403E39;
  font-family: 'PT Serif', serif;
  font-size: 1.875em;
  letter-spacing: 2px;
  line-height: 1;
  padding: 60px 0;
}

.depoimento-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  height: 226px;
}
.depoimento-container-itme-1{
  width: 222px;
  margin-right: 10px;
}
.depoimento-container-itme-1 img{
  display: block;
  width: 100%;
  height: 100%;
}
.depoimento-container-itme-2{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  max-width: 718px;
  justify-content: center;
  align-items: center;
}
.depoimento-container-itme-2 p{
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
  color:#403E39;

}
.depoimento-container-itme-2 span{
  width: 100%;
  display: flex;
  color: #F24405;
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  font-size:0.875em;
}

/*===================BLOG================*/
.blog{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color:#403E39;
  margin-top: 60px;
}
.blog h1{
  text-align: center;
  padding:60px  0;
  color:#E4E4E4;
  font-family: 'PT Serif', serif;
  font-size: 1.875em;
  letter-spacing: 2px;
  line-height: 1;
  
}

.blog-item-1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;

}
.blog-slide{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:center; 

}
.blog-slide > div{
  flex:1;
  display: flex;
  flex-direction: column;
}
.blog-slide > div img{
  display: block;
  width: 100%;
}
.blog-slide > div .blog-texto h2{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
  color:#E4E4E4;
  /*text-transform: uppercase;*/
 
}

.blog-slide > div .blog-texto span{
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color:#E4E4E4;
  opacity: 0.7;
 
}
.blog-slide > div .blog-texto p{
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color:#E4E4E4;
 
}

.blog-slide > div .blog-texto a{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size: 1.125em;
  color: #F2B705;
  text-decoration: none;
  letter-spacing: .5px;
  margin-top: 10px;
 
}

.ultimos-servicos-slide-margin{
  margin-left: 20px;
  margin-right: 20px;
}

.blog-item-2{
  text-align: center;
  padding: 40px 0;
}
.blog-item-2 span{
  display: inline-block;
  height: 28px;
  width: 28px;
  background-color: #5E5D59;
  border-radius: 50%;
  margin:0 10px;
  cursor: pointer;
}
.active-sapn{
  background-color: #F29F05 !important;
}

.blog-item-3{
  text-align: center;

}

.blog-item-3 p{
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
  color:#E4E4E4;
  margin-bottom: 40px;
}

.blog-item-3 a{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    font-size: 1.125em;
    color: #fff;
    text-decoration: none;
    padding: 15px 27px;
    letter-spacing: .5px;
    background-color: #F24405;
    margin-bottom: 60px;
}
/*===========Media Query======================*/

@media(max-width: 739px){

  /*======*/
  header{
    width: 100%;
  }
  .menu-container{
    flex-direction: column;

  }
  
  .menu-container-left-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
  }
  .menu-container .menu-container-left-side > a,
  .menu-container .check-btn{
    padding: 15px;
  }
  .menu-container .check-btn{
    display: block;
  }

  .menu-container nav{
    width: 100%;
  }
  .menu-container nav ul{
    flex-direction: column;
    width: 100%;
   
  }
  .menu-container nav ul li{
    width: 100%; 
    text-align: center;
  }
  

  #check:checked ~ label {
    display: flex;
    background-color: green;
  }

  .menu-container nav ul li ul{
    position: relative;
    
  }

}