/*=========== reset all==========*/
*{
  margin: 0;
  padding: 0;
}


/*======= header==============*/
header{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
}

.header-top{
  background-color:#F2B705;
}
.header-top-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
}

.header-top-container a{
  font-family: 'Roboto Mono', monospace;
  font-size: 0.87em;
  color: #FFFFFF;
  text-decoration:none ;
  padding: 5px;
}

.menu{
  background-color: #403E39;
}
.menu-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
 .menu-container-left-side{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}
.menu-container .menu-container-left-side > a{
  color:#FFFFFF;
  text-decoration: none;
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
}
.menu-container .check-btn{
  display: inline-block;
  font-size:1.5em;
  color:#fff;
  display: none;
}

#check{
  display: none;
}
.menu-container .menu-container-left-side> a span{
  color:#F24405;
}

.menu-container nav{
  display: flex;
  flex-wrap: wrap;
}
.menu-container nav ul{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  
}

.menu-container nav ul li ul{
  position: absolute;
  background-color: #403E39;
  display: none;
  flex-direction: column;
  z-index: 999;
  
}
.menu-container nav ul a{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size:1.125em;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  letter-spacing: .5px;
}
.menu-container nav ul li:hover{
  background-color: #F24405;
}

.menu-container nav ul li:hover ul{
  display: flex;
}


/*============ SEÇÃO INTRODUÇÃO =============*/

.introducao-slide{
  position: relative;
}
.introducao-slide img{
  display: block;
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.introducao-conteudo{
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding:90px 0 ;

}
.introducao-conteudo h1{
  text-align: center;
  color:#fff;
  font-family: 'PT Serif', serif;
  font-size: 3.75em;
  letter-spacing: 2px;
  line-height: 1;
  
}
.introducao-conteudo p{
  font-family: 'Roboto Mono', monospace;
  font-size: 1.125em;
  color:#fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  max-width: 709px;
  line-height: 1.5;
}
.introducao-conteudo a{
  display: inline-block;
  font-family: 'PT Serif', serif;
  color:#fff;
  background: #F24405;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  margin-top: 30px;

}

/*===================SERVICO================*/
.servico{
  display: flex;
  flex-direction: column;
}

.servico h1{
  text-align: center;
  color:#403E39;
  font-family: 'PT Serif', serif;
  font-size: 1.875em;
  letter-spacing: 2px;
  line-height: 1;
  padding: 60px 0;
}

.servico-conteudo{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.servico-conteudo-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin-bottom: 20px;
}

.servico-conteudo-item-div-esquerdo{
  flex-basis: 470px;
}
.servico-conteudo-item-div-esquerdo img{
  display: block;
  width: 100%;
  height: 100%;
}
.servico-conteudo-item-div-direito{
  flex-basis: 470px;
  padding: 60px 0;
}
.servico-conteudo-item-div-direito h2{
  font-family: 'PT Serif', serif;
  font-size: 1.12em;
  letter-spacing: 2px;
  line-height: 1;
  color: #403E39;
}
.servico-conteudo-item-div-direito p{
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
  margin-bottom: 30px;
  color: #403E39;
}
.servico-conteudo-item-div-direito a{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size:1.125em;
  color: #403E39;
  text-decoration: none;
  padding: 15px 27px;
  letter-spacing: .5px;
  border: 2px solid #F24405;
}
.servico-conteudo-item-bottom{
  text-align: center;
}
.servico-conteudo-item-bottom > p{
  padding: 20px 0px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
}
.servico-conteudo-item-bottom  > a{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size:1.125em;
  color: #fff;
  text-decoration: none;
  padding: 15px 27px;
  letter-spacing: .5px;
  background-color:  #F24405;
}


/*===================ULTIMOS SERVICO================*/
.ultimos-servicos{
  display: flex;
  flex-direction: column;
  background-color:#403E39;
  margin-top: 60px;
}
.ultimos-servicos h1{
  text-align: center;
  padding:60px  0;
  color:#E4E4E4;
  font-family: 'PT Serif', serif;
  font-size: 1.875em;
  letter-spacing: 2px;
  line-height: 1;
  
}
.ultimos-servicos-item-1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;

}
.ultimos-servicos-slide{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:center; 

}
.ultimos-servicos-slide > div{
  flex:1;
  display: flex;
}
.ultimos-servicos-slide > div img{
  display: block;
  width: 100%;
}
.ultimos-servicos-slide-margin{
  margin-left: 20px;
  margin-right: 20px;
}

.ultimos-servicos-item-2{
  text-align: center;
  padding: 40px 0;
}
.ultimos-servicos-item-2 span{
  display: inline-block;
  height: 28px;
  width: 28px;
  background-color: #5E5D59;
  border-radius: 50%;
  margin:0 10px;
  cursor: pointer;
}
.active-sapn{
  background-color: #F29F05 !important;
}

.ultimos-servicos-item-3{
  text-align: center;

}

.ultimos-servicos-item-3 p{
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
  color:#E4E4E4;
  margin-bottom: 40px;
}

.ultimos-servicos-item-3 a{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    font-size: 1.125em;
    color: #fff;
    text-decoration: none;
    padding: 15px 27px;
    letter-spacing: .5px;
    background-color: #F24405;
    margin-bottom: 60px;
}
/*=================== DEPOIMENTOS ================*/
.depoimento{
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

}

.depoimento h1{
  text-align: center;
  color:#403E39;
  font-family: 'PT Serif', serif;
  font-size: 1.875em;
  letter-spacing: 2px;
  line-height: 1;
  padding: 60px 0;
}

.depoimento-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  height: 226px;
}
.depoimento-container-itme-1{
  width: 222px;
  margin-right: 10px;
}
.depoimento-container-itme-1 img{
  display: block;
  width: 100%;
  height: 100%;
}
.depoimento-container-itme-2{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  max-width: 718px;
  justify-content: center;
  align-items: center;
}
.depoimento-container-itme-2 p{
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
  color:#403E39;

}
.depoimento-container-itme-2 span{
  width: 100%;
  display: flex;
  color: #F24405;
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  font-size:0.875em;
}

/*===================BLOG================*/
.blog{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color:#403E39;
  margin-top: 60px;
}
.blog h1{
  text-align: center;
  padding:60px  0;
  color:#E4E4E4;
  font-family: 'PT Serif', serif;
  font-size: 1.875em;
  letter-spacing: 2px;
  line-height: 1;
  
}

.blog-item-1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;

}
.blog-slide{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:center; 

}
.blog-slide > div{
  flex:1;
  display: flex;
  flex-direction: column;
}
.blog-slide > div img{
  display: block;
  width: 100%;
}
.blog-slide > div .blog-texto h2{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
  color:#E4E4E4;
  /*text-transform: uppercase;*/
 
}

.blog-slide > div .blog-texto span{
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color:#E4E4E4;
  opacity: 0.7;
 
}
.blog-slide > div .blog-texto p{
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color:#E4E4E4;
 
}

.blog-slide > div .blog-texto a{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size: 1.125em;
  color: #F2B705;
  text-decoration: none;
  letter-spacing: .5px;
  margin-top: 10px;
 
}

.ultimos-servicos-slide-margin{
  margin-left: 20px;
  margin-right: 20px;
}

.blog-item-2{
  text-align: center;
  padding: 40px 0;
}
.blog-item-2 span{
  display: inline-block;
  height: 28px;
  width: 28px;
  background-color: #5E5D59;
  border-radius: 50%;
  margin:0 10px;
  cursor: pointer;
}
.active-sapn{
  background-color: #F29F05 !important;
}

.blog-item-3{
  text-align: center;

}

.blog-item-3 p{
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
  color:#E4E4E4;
  margin-bottom: 40px;
}

.blog-item-3 a{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    font-size: 1.125em;
    color: #fff;
    text-decoration: none;
    padding: 15px 27px;
    letter-spacing: .5px;
    background-color: #F24405;
    margin-bottom: 60px;
}

/*===================  call-to-action ================*/
.call-to-action{
  padding: 60px 0;
  text-align: center;
}

.call-to-action p{
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
  color: #403E39;
  max-width: 730px;
  margin: 0 auto;
}
.call-to-action a{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size: 1.125em;
  color: #fff;
  text-decoration: none;
  padding: 15px 27px;
  letter-spacing: .5px;
  background-color: #F24405;
  margin-top: 40px;
}

/*=================== rodape ================*/
.rodape{
  padding: 60px 0;
  background-color: #403E39;
}
.rodape-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}
.rodape-container > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  
}
.rodape-titulo{
  display: inline-block;
  font-family: 'PT Serif', serif;
  font-size: 1.12em;
  color:#E4E4E4 !important;
  text-decoration: none;
  letter-spacing: .5px;
  padding: 10px 0;
}
.rodape-container > div ul{
  list-style: none;
}

.rodape-container > div ul li a{
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color:#E4E4E4 !important;
  text-decoration: none;
  letter-spacing: .5px;
  padding: 10px 0;
  opacity: 0.5;
}

.rodape-li-form{
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 10px;

}

.rodape-li-form input[type="text"]{
  display: inline-block;
  background-color: #403E39;
  border: solid 2px #fff;
  height: 22px;
  width: 245px;
  color:#E4E4E4 !important;
}
.rodape-li-form input[type="submit"]{
  border: solid 1px #fff;
  background-color: #fff;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  color:#403e39;
}


/*================= ESTILIZANDOS PAGINAS SINGULARES==============*/
/*======= ESTILIZAÇÃO GERAL ========*/
.intro-page, .conclu-page{
  padding: 60px 0;
  background-color: #707070;
  text-align: center;
}
.intro-page h1{
  text-align: center;
  color:#E4E4E4;
  font-family: 'PT Serif', serif;
  font-size: 1.875em;
  letter-spacing: 2px;
  line-height: 1;
}


.intro-page p, .conclu-page p{
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
  color:#E4E4E4;
  max-width: 730px;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 20px;

}

/*============== PAGINA SERVIÇO=============*/

.page-servico{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 40px;
}
.page-servico-conteudo{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}
.page-servico-conteudo ul{
  list-style: none;
  padding-left: 30px;
  margin-bottom: 30px;
}
.page-servico-conteudo ul li{
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  padding: 10px 0;
}

.page-servico-conteudo ul li::before{
  content: "\2022";
  color: #F29F05;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.class-link{
  background-color: #F24405;
  color: #fff !important;
  margin-left: 40px;

}

.page-servico-conteudo p{
  margin-bottom: 10px !important;
}

/*===================== ORÇAMENTO =================*/

.page-orcamento{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-orcamento-conteudo{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-orcamento-conteudo-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.page-orcamento-conteudo-item-esquerdo{
  display: flex;
  flex-direction: column;

}
.page-orcamento-conteudo-item-esquerdo > div{
  width:470px;
  margin-bottom: 20px;
}
.page-orcamento-conteudo-item-esquerdo > div label{
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
  color:#403E39;
  margin-bottom: 10px;
}

.page-orcamento-conteudo-item-esquerdo > div input{
  display: block;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border:solid 2px #403E39;
  box-sizing: border-box;
}



.page-orcamento-conteudo-item-esquerdo > div input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  opacity: 1; /* Firefox */
  padding-left: 10px;
}

.page-orcamento-conteudo-item-esquerdo > div textarea{
  display: block;
  height: 160px;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  border:solid 2px #403E39;
  box-sizing: border-box;
}


.page-orcamento-conteudo-item-direito{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.page-orcamento-conteudo-item-direito > div{
  width:470px;
  margin-bottom: 20px;
}

.page-orcamento-conteudo-item-direito > div label{
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
  color:#403E39;
  margin-bottom: 10px;
}
.label-titulo{
  margin-top: 30px;
  margin-bottom: 10px !important;
  
}
.label-titulo label{
  display: block;
  color: #FFFFFF !important;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #403E39 !important;
}
.class-rua-numero div, .class-bairro-cidade div {
  display: inline-block;
}
.class-rua-numero-1{
  width: 308px !important;
}
.class-rua-numero-2{
  width: 144px !important;
  margin-left: 10px;
}

.class-bairro-cidade-1{
  width: 226px !important;
}
.class-bairro-cidade-2{
  width: 226px !important;
  margin-left: 10px;
}

.page-orcamento-conteudo-item-direito > div input{
  display: block;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border:solid 2px #403E39;
  box-sizing: border-box;
}

.page-orcamento a{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size: 1.125em;
  color: #fff;
  text-decoration: none;
  padding: 15px 27px;
  letter-spacing: .5px;
  background-color: #F24405;
  margin-top: 20px;
}

.page-orcamento-conteudo-item-direito > div input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  opacity: 1; /* Firefox */
  padding-left: 10px;
}

/*===================== SOBRE =================*/
.page-sobre{
  max-width: 708px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;
}
.page-sobre div{
  margin-bottom: 30px;
}
.page-sobre h3{
  font-family: 'PT Serif', serif;
  font-size: 1.125em;
  color:#F24405;
  margin-bottom: 20px;
}
.page-sobre p{
  font-family: 'PT Serif', serif;
  font-size: 1.125em;
}

/*===================== PORTIFOLIO =================*/
.page-portifolio{
  padding: 60px 0;
  
  
}
.page-portifolio-conteudo{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.page-orcamento-conteudo-item-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-orcamento-conteudo-item-1-1{
  width: 550px;
  margin-right: 10px;

}
.page-orcamento-conteudo-item-1-1 img{
  display: block;
  width: 100%;
}

.page-orcamento-conteudo-item-1-2{
  width: 390px;
  margin-left: 10px;
  
}
.page-orcamento-conteudo-item-1-2 img{
  display: block;
  width: 100%;
}

.page-portifolio h3{
  font-family: 'PT Serif', serif;
  font-size: 1.125em;
  color:#F24405;
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-portifolio p{
  font-family: 'PT Serif', serif;
  font-size: 1.125em;
}

.page-orcamento-conteudo-item-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.page-orcamento-conteudo-item-2-1{
  width: 390px;
  margin-right: 10px;

}
.page-orcamento-conteudo-item-2-1 img{
  display: block;
  width: 100%;
}

.page-orcamento-conteudo-item-2-2{
  width: 550px;
  margin-left: 10px;
  
}
.page-orcamento-conteudo-item-2-2 img{
  display: block;
  width: 100%;
}


.page-orcamento-conteudo-item-3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-orcamento-conteudo-item-3-1{
  margin-right: 10px;

}
.page-orcamento-conteudo-item-3-1 img{
  display: block;
  width: 100%;
}

.portifolio-div-2{
  text-align: center;
}
.page-portifolio a{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size: 1.125em;
  color: #403E39;
  text-decoration: none;
  padding: 15px 27px;
  letter-spacing: .5px;
  border: 2px solid #F24405;
  margin-top: 40px;

}


/*=================== BLOG ================*/

.page-blog{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 60px 0;
  
}
.page-blog-conteudo{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 960px;
  margin:0 auto;
}

.page-blog-conteudo-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.page-blog-conteudo-item-1{
  width: 390px;
  margin-right: 10px;
}
.page-blog-conteudo-item-1 img{
  display: flex;
  width: 100%;
}
.page-blog-conteudo-item-2{
  width: 550px;
  padding: 10px 0;
  margin-left: 10px;
}

.page-blog-conteudo-item-2 h3{
  font-family: 'PT Serif', serif;
  font-size: 1.25em;
  color:#F24405;
}

.page-blog-conteudo-item-2 span{
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color: #484B4D;
  opacity: 0.7;
}

.page-blog-conteudo-item-2 p{
  margin-bottom: 10px;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.125em;
  color: #484B4D;
}
.page-blog-conteudo-item-2 a{
  display: inline-block;
  font-family: 'PT Serif', serif;
  font-size: 1.125em;
  color: #F2B705;
  text-decoration: none;
  letter-spacing: .5px;
}

.blog-div-2{
  text-align:center;
}

.page-blog .blog-div-2 a{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size: 1.125em;
  color: #403E39;
  text-decoration: none;
  padding: 15px 27px;
  letter-spacing: .5px;
  border: 2px solid #F24405;
  margin-top: 40px;
}

.page-contato{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding:60px 0
}

.page-blog-conteudo{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 960px;
}
.page-contato-conteudo-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.page-contato-conteudo-item-1{
  width: 470px;
  margin-right: 10px;
}
.page-contato-conteudo-item-1 > div{
  margin-bottom: 20px;
}
.page-contato-conteudo-item-1 > div label{
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.12em;
  color: #403E39;
  margin-bottom: 10px;
}
.page-contato-conteudo-item-1 > div input{
  display: block;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border: solid 2px #403E39;
  box-sizing: border-box;
}

.page-contato-conteudo-item-1 > div input::placeholder{
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  opacity: 1; /* Firefox */
  padding-left: 10px;
}
.page-contato-conteudo-item-1 > div textarea {
  display: block;
  height: 160px;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  border: solid 2px #403E39;
  box-sizing: border-box;
}
.page-contato-conteudo-item-1 a{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size: 1.125em;
  color: #fff;
  text-decoration: none;
  padding: 15px 27px;
  letter-spacing: .5px;
  background-color: #F24405;
  margin-top: 20px;
}
.page-contato-conteudo-item-2{
  width: 450px;
  margin-left: 10px;
  background-color: #403E39;
  margin-top: 30px;
  padding: 10px;
  
}

.page-contato-conteudo-item-2  > div p{
  font-family: 'PT Serif', serif;
  font-size: 0.875em;
  color:#fff;
  margin-bottom: 10px;
}
.page-contato-conteudo-item-2 > div label{
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color:#fff;
  opacity: 0.5;
  display: block;
  margin-bottom: 20px;
}
.page-contato-conteudo-item-2 > div label a{
  text-decoration: none;
  color:#fff;
  opacity: 0.5;
}

.page-contato-conteudo-item-2 > div ul{
  list-style: none;
}

.page-contato-conteudo-item-2 > div ul li a{
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color: #E4E4E4 !important;
  text-decoration: none;
  letter-spacing: .5px;
  margin-bottom: 10px;
  opacity: 0.5;
}
.page-contato-conteudo-item-2 > div:last-child{
  margin-top: 10px;
}
.page-contato-conteudo-item-2 > div img{
  display: block;
  width: 100%;
  height: 274px;
}

/*===========Media Query======================*/

@media(max-width: 739px){

  /*======*/
  header{
    width: 100%;
  }
  .menu-container{
    flex-direction: column;

  }
  
  .menu-container-left-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
  }
  .menu-container .menu-container-left-side > a,
  .menu-container .check-btn{
    padding: 15px;
  }
  .menu-container .check-btn{
    display: block;
  }

  .menu-container nav{
    width: 100%;
  }
  .menu-container nav ul{
    flex-direction: column;
    width: 100%;
   
  }
  .menu-container nav ul li{
    width: 100%; 
    text-align: center;
  }
  

  #check:checked ~ label {
    display: flex;
    background-color: green;
  }

  .menu-container nav ul li ul{
    position: relative;  
  }

}